* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  color: black;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 50px;
  width: 50px;
}
.logo-container {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-container {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-container {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-1 {
  margin-right: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paragraph-1 {
  font-size: 50px;
  font-weight: 400;
}
.paragraph-2 {
  font-size: 20px;
  font-weight: 400;
}

.list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.container-2 {
  display: flex;
  justify-content: space-between;
}
